<div class="panel panel-default panel-intro">
	<div class="panel-heading">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="#one" data-toggle="tab">
					{:__('Dashboard')}
				</a>
			</li>
			<!-- <li><a href="#two" data-toggle="tab">{:__('Custom')}</a></li> -->
		</ul>
	</div>
	<div class="panel-body">
		<div id="myTabContent" class="tab-content">
			<div class="col-md-12">
				<div class="nav-tabs-custom">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#activity" data-toggle="tab">
								消息处理
							</a>
						</li>
						<li>
							<a href="#timeline" data-toggle="tab">
								不当行为
							</a>
						</li>
						<li>
							<a href="#settings" data-toggle="tab">
								成员管理
							</a>
						</li>
						<li>
							<a href="#settings2" data-toggle="tab">
								群内禁言
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="active tab-pane" id="activity">
							<div class="row">
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												删除包含链接的消息
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_delete_link"  data-switch-value="0" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											当此项激活时，Bot 将自动删除非管理员成员所发出的包含链接的文字或图像消息。
										</div>

									</div>

								</div>
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												删除图片类消息
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_delete_photo"  data-switch-value="0" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											当此项激活时，Bot 将自动删除非管理员成员所发出的图片和视频消息。
										</div>

									</div>

								</div>
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												删除语音类消息
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_delete_voice"  data-switch-value="0" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											当此项激活时，Bot 将自动删除非管理员成员所发出的语音消息。
										</div>

									</div>

								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												删除文档类消息
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_delete_document"  data-switch-value="0" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											当此项激活时，Bot 将自动删除非管理员成员所发出的文档。
										</div>

									</div>

								</div>
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												删除表情和动图
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭"  data-switch-name="is_delete_sticker"  data-switch-value="0" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											当此项激活时，Bot 将自动删除非管理员成员所发出的表情和GIF动图。
										</div>

									</div>

								</div>
							</div>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-md-12">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												根据关键词自动应答
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_keyword_cmd"  data-switch-value="0" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											当此项激活时，Bot 将根据问答库中的设定，在群内真人用户发文字消息是，根据文字消息中的关键词，自动回复用户消息。
										</div>

										<div class="box-footer show">
											<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" class="btn btn-info"
											data-action="disable" data-name="blog">
												配置关键词
											</a>
										</div>
									</div>

								</div>
							</div>
						</div>
						<!-- /.tab-pane -->
						<div class=" tab-pane " id="timeline">
							<div class="row">
								<div class="col-md-12  col-sm-12 col-md-12">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												根据敏感词封禁成员
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_words_ban"  data-switch-value="0" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											当非管理员成员发送的消息中包含以下敏感词时，Bot将删除该消息，并将封禁该成员。

										</div>

										<div class="box-footer show">
											<div class="row">
												<div class="col-md-12  col-sm-12 col-md-12">
													<div class="form-group">
														<label>
															将该成员封禁多长时间:
														</label>

														<div class="input-group input-group-sm">
															<select class="form-control">
																<option value="0">
																	不封禁
																</option>
																<option value="300">
																	5分钟
																</option>
																<option value="900">
																	15分钟
																</option>
																<option value="1800">
																	半小时
																</option>
																<option value="3600">
																	1小时
																</option>
																<option value="7200">
																	2小时
																</option>
																<option value="18000">
																	5小时
																</option>
																<option value="43200">
																	半天
																</option>
																<option value="86400">
																	1天
																</option>
																<option value="172800">
																	2天
																</option>
																<option value="259200">
																	3天
																</option>
																<option value="604800">
																	1个星期
																</option>
																<option value="1209600">
																	2个星期
																</option>
																<option value="2592000">
																	1个月
																</option>
																<option value="31536000">
																	直到手动解除
																</option>
															</select>
															<span class="input-group-btn">
																<button type="button" class="btn btn-info btn-flat set_ban_time_button">
																	确认
																</button>
															</span>
														</div>

													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12  col-sm-12 col-md-12">
													<div class="form-group">
														<label>
															以下关键词触发封禁:
														</label>
														<div class="">
															<ul class="sp_element_box list-inline">
																<li class="selected_tag" itemvalue="AR">
																	包二奶啊
																	<span class="tag_close">
																		<i class="spfont sp-close ban_words_del">
																		</i>
																	</span>
																</li>

																<li class="selected_tag" itemvalue="AR">
																	包二奶啊
																	<span class="tag_close">
																		<i class="spfont sp-close ban_words_del">
																		</i>
																	</span>
																</li>
															</ul>
														</div>
														<div class="">
															<div class="input-group input-group-sm">
																<input type="text" class="form-control">
																<span class="input-group-btn">
																	<button type="button" class="btn btn-info btn-flat ban_words_add">
																		添加
																	</button>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>

								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												封禁成员前先进行警告
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_ban_warn"  data-switch-value="0" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											当成员发现不当行为时先予以警告，警告无效后再实施封禁。
										</div>

									</div>

								</div>
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												封禁同时踢除成员
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_ban_blank"  data-switch-value="0" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											封禁的同时踢除成员。被踢除的成员只有当封禁到期，或被管理员解除之后才能再次加入本群。
										</div>

									</div>

								</div>
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												封禁时长自动翻倍
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_ban_time_double"  data-switch-value="0"  class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											记录成员遭到封禁的次数，每次被封禁的时长翻一番。
										</div>

									</div>

								</div>
							</div>
							<div class="row">
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												清理垃圾消息
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" data-switch-name="is_clear_litter_news"  data-switch-value="0" title="点击开启/关闭" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											Bot 自动清理群内的垃圾消息。
										</div>

									</div>

								</div>
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												阻止命令行刷屏
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="cmd_attack_switch"  data-switch-value="0" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											当此项激活时，Bot 将防御连续的操作指令攻击。
										</div>

									</div>

								</div>
							</div>
						</div>
						<!-- /.tab-pane -->
						<div class="tab-pane" id="settings">
							<!-- <div class="row">
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												问候新人
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											Bot 自动向新加入群的成员打招呼
										</div>

									</div>

								</div>
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												阻止非管理員添加bot
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											当此项激活时，群中的非管理员用户添加机器人(Bot)到群内时，该Bot将被自动删除。
										</div>

									</div>

								</div>
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												禁止拉人进群
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											当此项开启时，群仅接受主动进群的成员。被拉人进群的成员将被Bot踢除。
										</div>

									</div>

								</div>
							</div>
						-->
							<div class="row">
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												清除成员加入的消息
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_clear_new_member"  data-switch-value="0" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											当此项激活时，Bot 将自动清理新成员加入群的消息。
										</div>

									</div>

								</div>
								<div class="col-md-4 col-sm-4 col-md-4">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												清除成员离开的消息
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_clear_left_member"  data-switch-value="0" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											当此项激活时，Bot 将自动清理成员离开群的消息。
										</div>

									</div>

								</div>
							</div>
						</div>
						<!-- /.tab-pane -->
						<!-- /.tab-pane -->
						<div class="tab-pane" id="settings2">
							<div class="row">
								<div class="col-md-12  col-sm-12 col-md-12">
									<div class="box box-default">
										<div class="box-header with-border">
											<h3 class="box-title">
												全体禁言模式
											</h3>
											<div class="box-tools pull-right">
												<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_clear_all_news"  data-switch-value="0" class="btn-disable btn-switch"
												data-action="disable" data-name="blog">
													<i class="fa fa-toggle-off text-info fa-2x">
													</i>
												</a>
											</div>

										</div>

										<div class="box-body">
											全体禁言模式开启后，群将会变成频道模式——群中的普通成员将无法发送消息，只有群的管理员可以发布消息。

										</div>

										<div class="box-footer show">
											<div class="row" style="margin-top:15px;">
												<!-- <div class="text-center m-3" style="font-size: 4em; font-weight: bold; font-family: monospace; color: rgb(0, 0, 0);">
													04:48s
												</div>
												<div class="text-center mb-5">
													<button type="button" class="btn btn-info btn-lg">
														立即停止
													</button>
												</div> -->
												<div class="col-md-12  col-sm-12 col-md-12">
													<div class="form-group">
														<label>
															请选择开启禁言时长:
														</label>



														<div class="input-group input-group-sm">
															<select class="form-control form-control-lg border border-warning">
																<option value="0">
																	请选择开启禁言时长
																</option>
																<option value="300">
																	5分钟
																</option>
																<option value="900">
																	15分钟
																</option>
																<option value="1800">
																	半小时
																</option>
																<option value="3600">
																	1小时
																</option>
																<option value="7200">
																	2小时
																</option>
																<option value="18000">
																	5小时
																</option>
																<option value="43200">
																	半天
																</option>
																<option value="86400">
																	1天
																</option>
																<option value="172800">
																	2天
																</option>
																<option value="259200">
																	3天
																</option>
																<option value="604800">
																	1个星期
																</option>
																<option value="1209600">
																	2个星期
																</option>
																<option value="2592000">
																	1个月
																</option>
																<option value="31536000">
																	直到手动解除
																</option>
															</select>
															<span class="input-group-btn">
																<button type="button" class="btn btn-info btn-flat clear_all_news_time_button">
																	确认开启
																</button>
															</span>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12  col-sm-12 col-md-12">
													<div class="form-group">
														<label>
															禁言期間，群内普通成员仍被允许发送以下文字内容:
														</label>
														<div class="">
															<ul class="sp_element_box list-inline">
																<li class="selected_tag" itemvalue="AR">
																	包二奶啊
																	<span class="tag_close">
																		<i class="spfont sp-close">
																		</i>
																	</span>
																</li>
															</ul>
														</div>
														<div class="">
															<div class="input-group input-group-sm">
																<input type="text" class="form-control">
																<span class="input-group-btn">
																	<button type="button" class="btn btn-info btn-flat clear_all_news_white_button">
																		添加允许发送的关键词
																	</button>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12  col-sm-12 col-md-12">
													<div class="form-group">
														<label>
															禁言期間，群内普通成员仍被允许发送包含以下关键词的内容:
														</label>
														<div class="">
															<ul class="sp_element_box list-inline">
																<li class="selected_tag" itemvalue="AR">
																	包二奶啊
																	<span class="tag_close">
																		<i class="spfont sp-close">
																		</i>
																	</span>
																</li>
															</ul>
														</div>
														<div class="">
															<div class="input-group input-group-sm">
																<input type="text" class="form-control">
																<span class="input-group-btn">
																	<button type="button" class="btn btn-info btn-flat clear_all_news_reg_white_button">
																		添加允许包含的关键词
																	</button>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>

								</div>
							</div>
						</div>
						<!-- /.tab-pane -->
					</div>
					<!-- /.tab-content -->
				</div>
				<!-- /.nav-tabs-custom -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
</div>
</div>
