
			<div class="banner">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
						</li>
						<!-- <li data-target="#carouselExampleIndicators" data-slide-to="1">
						</li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2">
						</li> -->
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="__CDN__/home/images/banner1.png" alt="First slide">
							<div class="bannercontent w-100 h-100">
								<div class="webanner1">
									<div class="text1">
                                        {:__('The Future Of')}
									</div>
									<div class="text2">
                                        {:__('Deep Qa')}

									</div>
								</div>
								<img class="banner1robot" src="__CDN__/home/images/bannerrobot.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="features">
				<h3>
                    {:__('Product Features')}
				</h3>
				<div class="h3line">
				</div>
				<div class="feature_body">
					<div class="row justify-content-center">
						<div class="col-12 features_line">
						</div>
						<div class="col-3">
							<img src="__CDN__/home/images/features_icon1.png" style="width:3rem;" />
							<br/>
							{:__('Innovative')}
							<div class="features_line_yellow">
							</div>
						</div>
						<div class="col-3">
							<img src="__CDN__/home/images/features_icon2.png" style="width:2.9rem;margin-top:0.7rem;"
							/>
							<br/>
							{:__('Convenience')}
						</div>
						<div class="col-3">
							<img src="__CDN__/home/images/features_icon3.png" style="width:3.4rem;margin-top:0.5rem;"
							/>
							<br/>
							{:__('Outstanding')}
						</div>
						<div class="col-3">
							<img src="__CDN__/home/images/features_icon4.png" style="width:2.8rem;margin-top:0.02rem;"
							/>
							<br/>
							{:__('Superior')}
						</div>
					</div>
					<div class="row justify-content-center features_content">
						<div class="col-6 active">
							<h5>
								{:__('Innovative')}
							</h5>
							{:__('Innovative Content')}
						</div>
						<div class="col-6">
							<h5>
								{:__('Convenience')}
							</h5>
							{:__('Convenience Content')}
						</div>
						<div class="col-6">
							<h5>
								{:__('Outstanding')}
							</h5>
							{:__('Outstanding Content')}
						</div>
						<div class="col-6">
							<h5>
								{:__('Superior')}
							</h5>
							{:__('Superior Content')}
						</div>
					</div>
				</div>
			</div>
			<div class="videos">
				<img src="__CDN__/home/images/insd.png" />
				<h3>
					{:__('Official Video')}
				</h3>
				<div class="h3line">
				</div>
				<div class="videosbody">
					<!-- <img src="__CDN__/home/images/videobg.png"/>
					-->
					<div class="embed-responsive embed-responsive-16by9">
						<!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
						allowfullscreen></iframe> -->
						<iframe src='http://player.youku.com/embed/XMzcwNjAzNzYxMg' frameborder=0
						'allowfullscreen'>
						</iframe>
					</div>
				</div>
			</div>
			<div class="evaluation">
				<h3>
						{:__('User Evaluation')}
				</h3>
				<div class="h3line">
				</div>
				<div class="evaluationbody">
					<div class="m_list">
						<div class="row">
							<div class="col-12 col-sm-4">
								<div class="row">
									<div class="col">
										<div class="userhead">
											<img src="__CDN__/home/images/user1.png" />
											<div class="line5">
											</div>
										</div>
									</div>
									<div class="col">
										<div class="username">
											{:__('User Evaluation Company 1')}
										</div>
										<div class="line4">
										</div>
										<div class="desc">
											{:__('User Evaluation Content 1')}
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-4">
								<div class="row">
									<div class="col">
										<div class="userhead">
											<img src="__CDN__/home/images/user1.png" />
											<div class="line5">
											</div>
										</div>
									</div>
									<div class="col">
										<div class="username">
											{:__('User Evaluation Company 2')}
										</div>
										<div class="line4">
										</div>
										<div class="desc">
											{:__('User Evaluation Content 2')}
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-4">
								<div class="row">
									<div class="col">
										<div class="userhead">
											<img src="__CDN__/home/images/user1.png" />
											<div class="line5">
											</div>
										</div>
									</div>
									<div class="col">
										<div class="username">
											{:__('User Evaluation Company 3')}
										</div>
										<div class="line4">
										</div>
										<div class="desc">
											{:__('User Evaluation Content 3')}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="partner">
				<h3>
					{:__('Partners')}
				</h3>
				<div class="h3line">
				</div>
				<div class="row justify-content-center">
					<div class="col-4 col-lg-3">
						<a class="partner_1_a">
						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_2_a">
						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_3_a">
						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_4_a">
						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_5_a">
						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_6_a">
						</a>
					</div>
				</div>
			</div>
			<div class="m_footer" style="background:#040d17;height:17.15rem;font-size:0.8rem;color:#ffffff;">
				<div style="text-align:center;padding-top:2.1rem;">
					<img src="__CDN__/home/images/footerflay.png" style="width:1rem;margin-right:1.2rem;"
					/>
					<img src="__CDN__/home/images/footertwt.png" style="width:1rem;margin-right:1.2rem;"
					/>
					<img src="__CDN__/home/images/footerfb.png" style="width:0.5rem;margin-right:1.2rem;"
					/>
					<img src="__CDN__/home/images/footerwx.png" style="width:1.1rem;" />
				</div>
				<div class="text-center" style="padding-top: 2.1rem;">
					<span>
						<img src="__CDN__/home/images/footermail.png" style="height:0.6rem;display: inline-block;margin-bottom: 0.2rem;margin-right:0.1rem;"
						/>
						E-mail:business@if1989.com
					</span>
					<br class="footer_br" />
					<span style="padding-left:2rem;">
						<img src="__CDN__/home/images/footeradd.png" style="height:0.8rem;display: inline-block;margin-bottom: 0.2rem;margin-right:0.3rem;"
						/>
						Add：Urwork，Floors，NO.C3,JiuxianqiaoRoad，Chaoyang District,Beijing
					</span>
				</div>
				<div class="text-center privssrvice" style="padding-top: 1.2rem;">
					<span>
						@{:__('Privacy Policy')}
					</span>
					<span style="padding:0 2rem;">
						@{:__('Intellectual Property Rights Policy')}
					</span>
					<span>
						@{:__('Tems of service')}
					</span>
				</div>
				<div class="text-center" style="padding-top: 2rem;color:">
					<a style="margin-right:1rem;" href="index.html">
						{:__('Home')}
					</a>
					|
					<a style="margin:0 1rem;" href="product.html">
						{:__('Product')}
					</a>
					|
					<a style="margin-left:1rem" href="contactus.html">
						{:__('Contact Us')}
					</a>
				</div>
			</div>
