
			<div class="banner">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
						</li>
						<!-- <li data-target="#carouselExampleIndicators" data-slide-to="1">
						</li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2">
						</li> -->
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img class="d-block w-100" src="__CDN__/home/images/banner1.png" alt="First slide">
							<div class="bannercontent w-100 h-100">
								<div class="webanner1">
									<div class="text1">
                                        {:__('The Future Of')}
									</div>
									<div class="text2">
                                        {:__('Deep Qa')}

									</div>
								</div>
								<img class="banner1robot" src="__CDN__/home/images/bannerrobot.png" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="features">
				<h3>
                    {:__('Product Features')}
				</h3>
				<div class="h3line">
				</div>
				<div class="feature_body">
					<div class="row justify-content-center">
						<div class="col-12 features_line">
						</div>
						<div class="col-3">
							<img src="__CDN__/home/images/features_icon1.png" style="width:3rem;" />
							<br/>
							{:__('Innovative')}
							<div class="features_line_yellow">
							</div>
						</div>
						<div class="col-3">
							<img src="__CDN__/home/images/features_icon2.png" style="width:2.9rem;margin-top:0.7rem;"
							/>
							<br/>
							{:__('Convenience')}
						</div>
						<div class="col-3">
							<img src="__CDN__/home/images/features_icon3.png" style="width:3.4rem;margin-top:0.5rem;"
							/>
							<br/>
							{:__('Outstanding')}
						</div>
						<div class="col-3">
							<img src="__CDN__/home/images/features_icon4.png" style="width:2.8rem;margin-top:0.02rem;"
							/>
							<br/>
							{:__('Superior')}
						</div>
					</div>
					<div class="row justify-content-center features_content">
						<div class="col-6 active">
							<h5>
								{:__('Innovative')}
							</h5>
							{:__('Innovative Content')}
						</div>
						<div class="col-6">
							<h5>
								{:__('Convenience')}
							</h5>
							{:__('Convenience Content')}
						</div>
						<div class="col-6">
							<h5>
								{:__('Outstanding')}
							</h5>
							{:__('Outstanding Content')}
						</div>
						<div class="col-6">
							<h5>
								{:__('Superior')}
							</h5>
							{:__('Superior Content')}
						</div>
					</div>
				</div>
			</div>
			<div class="videos">
				<img src="__CDN__/home/images/insd.png" />
				<h3>
					{:__('Official Video')}
				</h3>
				<div class="h3line">
				</div>
				<div class="videosbody">
					<!-- <img src="__CDN__/home/images/videobg.png"/>
					-->
					<div class="embed-responsive embed-responsive-16by9">
						<!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
						allowfullscreen></iframe> -->
						<iframe src='http://player.youku.com/embed/XMzcwNjAzNzYxMg' frameborder=0
						'allowfullscreen'>
						</iframe>
					</div>
				</div>
			</div>
			<div class="evaluation">
				<h3>
						{:__('User Evaluation')}
				</h3>
				<div class="h3line">
				</div>
				<div class="evaluationbody">
					<div class="m_list">
						<div class="row">
							<div class="col-12 col-sm-4">
								<div class="row">
									<div class="col">
										<div class="userhead">
											<img src="__CDN__/home/images/user1.jpg" />
											<div class="line5">
											</div>
										</div>
									</div>
									<div class="col">
										<div class="username">
											{:__('User Evaluation Company 1')}
										</div>
										<div class="line4">
										</div>
										<div class="desc">
											{:__('User Evaluation Content 1')}
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-4">
								<div class="row">
									<div class="col">
										<div class="userhead">
											<img src="__CDN__/home/images/user2.jpg" />
											<div class="line5">
											</div>
										</div>
									</div>
									<div class="col">
										<div class="username">
											{:__('User Evaluation Company 2')}
										</div>
										<div class="line4">
										</div>
										<div class="desc">
											{:__('User Evaluation Content 2')}
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-4">
								<div class="row">
									<div class="col">
										<div class="userhead">
											<img src="__CDN__/home/images/user3.jpg" />
											<div class="line5">
											</div>
										</div>
									</div>
									<div class="col">
										<div class="username">
											{:__('User Evaluation Company 3')}
										</div>
										<div class="line4">
										</div>
										<div class="desc">
											{:__('User Evaluation Content 3')}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="partner">
				<h3>
					{:__('Partners')}
				</h3>
				<div class="h3line">
				</div>
				<div class="row justify-content-center">
					<div class="col-4 col-lg-3">
						<a class="partner_1_a" href="https://www.lomostar.com/index.html">
						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_2_a" href="http://www.themis.im/">
						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_3_a">
						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_4_a" href="http://www.triplesoil.com">
						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_5_a">
						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_6_a">
						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_7_a" href="http://www.befund.io">

						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_8_a" href="https://tron.network/">
						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_9_a" href="http://www.proton.global/">
						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_10_a" href="http://pro.xstar.io">
						</a>
					</div>
					<div class="col-4 col-lg-3">
						<a class="partner_11_a" href="http://www.zos.io">
						</a>
					</div>
				</div>
			</div>
{include file="common/footer" /}
{include file="common/scripts" /}
