<div id="myTabContent" class="tab-content">
	<div class="col-md-12">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#activity" data-toggle="tab">
						{:__('Messages Setting')}
					</a>
				</li>
				<li>
					<a href="#timeline" data-toggle="tab">
						{:__('ToS Violations')}
					</a>
				</li>
				<li>
					<a href="#settings" data-toggle="tab">
						{:__('Members Management')}
					</a>
				</li>
				<li>
					<a href="#settings2" data-toggle="tab">
						{:__('Blocks')}
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="active tab-pane" id="activity">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('Delete all messages contains links')}
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_delete_link"  data-switch-value="{if isset($result['is_delete_link'])}{$result['is_delete_link']}{else/}0{/if}" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['is_delete_link']) && $result['is_delete_link'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('Delete all messages contains links Message')}
								</div>

							</div>

						</div>
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('Delete all messages contains images and videos')}
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_delete_photo"  data-switch-value="{if isset($result['is_delete_photo'])}{$result['is_delete_photo']}{else/}0{/if}" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['is_delete_photo']) && $result['is_delete_photo'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('Delete all messages contains images and videos Message')}
								</div>

							</div>

						</div>
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('Delete all voice messages')}
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_delete_voice"  data-switch-value="{if isset($result['is_delete_voice'])}{$result['is_delete_voice']}{else/}0{/if}" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['is_delete_voice']) && $result['is_delete_voice'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('Delete all voice messages Message')}
								</div>

							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('Delete all messages contains documents')}
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_delete_document"  data-switch-value="{if isset($result['is_delete_document'])}{$result['is_delete_document']}{else/}0{/if}" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['is_delete_document']) && $result['is_delete_document'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('Delete all messages contains documents Message')}
								</div>

							</div>

						</div>
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('Delete all messages contains stickers and gifs')}
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭"  data-switch-name="is_delete_sticker"  data-switch-value="{if isset($result['is_delete_sticker'])}{$result['is_delete_sticker']}{else/}0{/if}" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['is_delete_sticker']) && $result['is_delete_sticker'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('Delete all messages contains stickers and gifs Message')}
								</div>

							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-md-12">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('Reply according to keywords')}
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_keyword_cmd"  data-switch-value="{if isset($result['is_keyword_cmd'])}{$result['is_keyword_cmd']}{else/}0{/if}" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['is_keyword_cmd']) && $result['is_keyword_cmd'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('Reply according to keywords Message')}
								</div>

								<div class="box-footer {if isset($result['is_keyword_cmd']) && $result['is_keyword_cmd'] eq 1}show{else/}hide{/if} ">
									<!-- <a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" class="btn btn-info"
									data-action="disable" data-name="blog">
										配置关键词
									</a> -->
									<div class="row keyword_cmd_add_list">
											{if isset($result['keyword_cmd_config'])}

												{volist name="result['keyword_cmd_config']" id="vo"}
												<div class="col-md-12  col-sm-12 col-md-12">

													<blockquote>
														<div class="form-group">
															<label>

																{:__('When the message is received, these key words are included')}:
															</label>
															<div class="">
																<ul class="sp_element_box list-inline">
																	{volist name="vo['keyword']" id="vk"}
																	<li class="selected_tag" itemvalue="{$vk}">
																		{$vk}
																		<span class="tag_close">
																			<i class="spfont sp-close keyword_cmd_add_list_keword_del">
																			</i>
																		</span>
																	</li>
																	{/volist}
																</ul>
															</div>
															<div class="">
																<div class="input-group input-group-sm">
																	<input type="text" class="form-control">
																	<span class="input-group-btn">
																		<button type="button" class="btn btn-info btn-flat keyword_cmd_add_list_keword_add">
																			{:__('Add')}
																		</button>
																	</span>
																</div>
															</div>
														</div>

														<div class="form-group">
															<label>{:__('Matching mode')} :</label>
															<select class="form-control">
											                    <option value="1" {if condition="intval($vo.type) eq 1"}selected{/if}>{:__('Include these keywords')}</option>
											                    <option value="2" {if condition="intval($vo.type) eq 2"}selected{/if}>{:__('Equal to these keywords')}</option>
										                    </select>
										                </div>

														<div class="form-group">
															<label>{:__('Status')} :</label>
															<select class="form-control">
																<option value="1" {if condition="$vo.status eq 1"}selected{/if}>{:__('Open')}</option>
																<option value="0" {if condition="$vo.status eq 0"}selected{/if}>{:__('Close')}</option>
															</select>
														</div>


														<div class="form-group">
										                  <label>{:__('Bot will reply')} </label>
										                  <textarea class="form-control" rows="3" placeholder="{:__('Enter ...')}">{$vo.content}</textarea>
										                </div>

														<div class="form-group">
															<button type="button" class="btn btn-info btn-flat keyword_cmd_add_list_save" style="width:100%">
																{:__('Save')}
															</button>
														</div>
													</blockquote>
												</div>
												{/volist}

											{/if}

									</div>

									<div class="row">
										<div class="col-md-12  col-sm-12 col-md-12">
											<div class="form-group">
												<button type="button" class="btn btn-info btn-flat keyword_cmd_add" style="width:100%">
													{:__('Add')}
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!-- /.tab-pane -->
				<div class=" tab-pane " id="timeline">
					<div class="row">
						<div class="col-md-12  col-sm-12 col-md-12">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('Block members by words')}
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_words_ban"  data-switch-value="{if isset($result['is_words_ban'])}{$result['is_words_ban']}{else/}0{/if}" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['is_words_ban']) && $result['is_words_ban'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('Block members by words Message')}

								</div>

								<div class="box-footer {if isset($result['is_words_ban']) && $result['is_words_ban'] eq 1}show{else/}hide{/if}">
									<div class="row">
										<div class="col-md-12  col-sm-12 col-md-12">
											<div class="form-group">
												<label>
													{:__('How long does the member be blocked')}:
												</label>

												<div class="input-group input-group-sm">

													<select class="form-control">
														<option value="0" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 0}selected{else/}{/if}>
															{:__('No')}
														</option>
														<option value="300" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 300}selected{else/}{/if}>
															{:__('5 minutes')}
														</option>
														<option value="900" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 900}selected{else/}{/if}>
															{:__('15 minutes')}
														</option>
														<option value="1800" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 1800}selected{else/}{/if}>
															{:__('0.5 hours')}
														</option>
														<option value="3600" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 3600}selected{else/}{/if}>
															{:__('1 hours')}
														</option>
														<option value="7200" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 7200}selected{else/}{/if}>
															{:__('2 hours')}
														</option>
														<option value="18000" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 18000}selected{else/}{/if}>
															{:__('5 hours')}
														</option>
														<option value="43200" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 43200}selected{else/}{/if}>
															{:__('0.5 day')}
														</option>
														<option value="86400" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 86400}selected{else/}{/if}>
															{:__('1 days')}
														</option>
														<option value="172800" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 172800}selected{else/}{/if}>
															{:__('2 days')}
														</option>
														<option value="259200" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 259200}selected{else/}{/if}>
															{:__('3 days')}
														</option>
														<option value="604800" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 604800}selected{else/}{/if}>
															{:__('1 weeks')}
														</option>
														<option value="1209600" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 1209600}selected{else/}{/if}>
															{:__('2 weeks')}
														</option>
														<option value="2592000" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 2592000}selected{else/}{/if}>
															{:__('2 months')}
														</option>
														<option value="31536000" {if isset($result['set_ban_time']) && $result['set_ban_time'] == 31536000}selected{else/}{/if}>
															{:__('Until the manual release')}
														</option>
													</select>
													<span class="input-group-btn">
														<button type="button" class="btn btn-info btn-flat set_ban_time_button">
															{:__("Ok")}
														</button>
													</span>
												</div>

											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12  col-sm-12 col-md-12">
											<div class="form-group">
												<label>
													{:__('The words which trigger BLOCK')}:
												</label>
												<div class="">
													<ul class="sp_element_box list-inline">
														{if isset($result['set_ban_words'])}
															{volist name="result['set_ban_words']" id="vo"  }
																<li class="selected_tag" itemvalue="{$vo}">
																	{$vo}
																	<span class="tag_close">
																		<i class="spfont sp-close ban_words_del">
																		</i>
																	</span>
																</li>
															{/volist}
														{/if}


													</ul>
												</div>
												<div class="">
													<div class="input-group input-group-sm">
														<input type="text" class="form-control">
														<span class="input-group-btn">
															<button type="button" class="btn btn-info btn-flat ban_words_add">
																添加
															</button>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('Warning before block')}
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_ban_warn"  data-switch-value="{if isset($result['is_ban_warn'])}{$result['is_ban_warn']}{else/}0{/if}" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['is_ban_warn']) && $result['is_ban_warn'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('Warning before block Message')}
								</div>

							</div>

						</div>
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('Remove the member while Blocking')}
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_ban_blank"  data-switch-value="{if isset($result['is_ban_blank'])}{$result['is_ban_blank']}{else/}0{/if}" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['is_ban_blank']) && $result['is_ban_blank'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('Remove the member while Blocking Message')}
								</div>

							</div>

						</div>
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('Make a double with block automatically')}
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_ban_time_double"  data-switch-value="{if isset($result['is_ban_time_double'])}{$result['is_ban_time_double']}{else/}0{/if}"  class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['is_ban_time_double']) && $result['is_ban_time_double'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('Make a double with block automatically Message')}
								</div>

							</div>

						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('Clear the rubbish news')}


									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" data-switch-name="is_clear_litter_news"  data-switch-value="{if isset($result['is_clear_litter_news'])}{$result['is_clear_litter_news']}{else/}0{/if}" title="点击开启/关闭" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['is_clear_litter_news']) && $result['is_clear_litter_news'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('Clear the rubbish news Message')}
								</div>

							</div>

						</div>
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('Stop the command line to brush the screen')}
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="cmd_attack_switch"  data-switch-value="{if isset($result['cmd_attack_switch'])}{$result['cmd_attack_switch']}{else/}0{/if}" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['cmd_attack_switch']) && $result['cmd_attack_switch'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('Stop the command line to brush the screen Message')}
								</div>

							</div>

						</div>
					</div>
				</div>
				<!-- /.tab-pane -->
				<div class="tab-pane" id="settings">
					<!-- <div class="row">
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										问候新人
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa fa-toggle-off text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									Bot 自动向新加入群的成员打招呼
								</div>

							</div>

						</div>
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										阻止非管理員添加bot
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa fa-toggle-off text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									当此项激活时，群中的非管理员用户添加机器人(Bot)到群内时，该Bot将被自动删除。
								</div>

							</div>

						</div>
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										禁止拉人进群
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa fa-toggle-off text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									当此项开启时，群仅接受主动进群的成员。被拉人进群的成员将被Bot踢除。
								</div>

							</div>

						</div>
					</div>
				-->
					<div class="row">
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('Delete all msg of new member joining')}
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_clear_new_member"  data-switch-value="{if isset($result['is_clear_new_member'])}{$result['is_clear_new_member']}{else/}0{/if}" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['is_clear_new_member']) && $result['is_clear_new_member'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('Delete all msg of new member joining Message')}
								</div>

							</div>

						</div>
						<div class="col-md-4 col-sm-4 col-md-4">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('Delete all msg of members leaving')}
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_clear_left_member"  data-switch-value="{if isset($result['is_clear_left_member'])}{$result['is_clear_left_member']}{else/}0{/if}" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['is_clear_left_member']) && $result['is_clear_left_member'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('Delete all msg of members leaving Message')}
								</div>

							</div>

						</div>
					</div>
				</div>
				<!-- /.tab-pane -->
				<!-- /.tab-pane -->
				<div class="tab-pane" id="settings2">
					<div class="row">
						<div class="col-md-12  col-sm-12 col-md-12">
							<div class="box box-default">
								<div class="box-header with-border">
									<h3 class="box-title">
										{:__('To Block All hands')}
									</h3>
									<div class="box-tools pull-right">
										<a href="javascript:;" data-toggle="tooltip" title="点击开启/关闭" data-switch-name="is_clear_all_news"  data-switch-value="{if isset($result['is_clear_all_news'])}{$result['is_clear_all_news']}{else/}0{/if}" class="btn-disable btn-switch"
										data-action="disable" data-name="blog">
											<i class="fa {if isset($result['is_clear_all_news']) && $result['is_clear_all_news'] eq 1}fa-toggle-on{else/}fa-toggle-off{/if} text-info fa-2x">
											</i>
										</a>
									</div>

								</div>

								<div class="box-body">
									{:__('To Block All hands Message')}
								</div>

								<div class="box-footer {if isset($result['is_clear_all_news']) && $result['is_clear_all_news'] eq 1}show{else/}hide{/if}">
									<div class="row" style="margin-top:15px;">


										<div class="col-md-12  col-sm-12 col-md-12 {if condition="isset($result['clear_all_news_time_count']) && $result['clear_all_news_time_count'] gt 0"}show{else/}hide{/if}">
											<div class="form-group">
												<div class="text-center m-3 clear_all_news_time_count" data-count="{if condition="isset($result['clear_all_news_time_count']) && $result['clear_all_news_time_count'] gt 0"}{$result['clear_all_news_time_count']}{else/}0{/if}" style="font-size: 4em; font-weight: bold; font-family: monospace; color: rgb(0, 0, 0);">
													0s
												</div>
												<div class="text-center mb-5">
													<button type="button" class="btn btn-info btn-lg clear_all_news_time_stop">
														{:__('Stop')}
													</button>
												</div>
											</div>
										</div>

										<div class="col-md-12 col-sm-12 col-md-12 {if condition="isset($result['clear_all_news_time_count']) && $result['clear_all_news_time_count'] gt 0"}hide{else/}show{/if}">
											<div class="form-group">
												<label>
													{:__('How long does the group be blocked')}:
												</label>



												<div class="input-group input-group-sm">
													<select class="form-control form-control-lg border border-warning">
														<option value="0" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 0}selected{else/}{/if}>
															{:__('Please choose to open the time')}
														</option>

														<option value="300" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 300}selected{else/}{/if}>
															{:__('5 minutes')}
														</option>
														<option value="900" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 900}selected{else/}{/if}>
															{:__('15 minutes')}
														</option>
														<option value="1800" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 1800}selected{else/}{/if}>
															{:__('0.5 hours')}
														</option>
														<option value="3600" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 3600}selected{else/}{/if}>
															{:__('1 hours')}
														</option>
														<option value="7200" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 7200}selected{else/}{/if}>
															{:__('2 hours')}
														</option>
														<option value="18000" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 18000}selected{else/}{/if}>
															{:__('5 hours')}
														</option>
														<option value="43200" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 43200}selected{else/}{/if}>
															{:__('0.5 day')}
														</option>
														<option value="86400" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 86400}selected{else/}{/if}>
															{:__('1 days')}
														</option>
														<option value="172800" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 172800}selected{else/}{/if}>
															{:__('2 days')}
														</option>
														<option value="259200" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 259200}selected{else/}{/if}>
															{:__('3 days')}
														</option>
														<option value="604800" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 604800}selected{else/}{/if}>
															{:__('1 weeks')}
														</option>
														<option value="1209600" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 1209600}selected{else/}{/if}>
															{:__('2 weeks')}
														</option>
														<option value="2592000" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 2592000}selected{else/}{/if}>
															{:__('2 months')}
														</option>
														<option value="31536000" {if isset($result['clear_all_news_time']) && $result['clear_all_news_time'] == 31536000}selected{else/}{/if}>
															{:__('Until the manual release')}
														</option>
													</select>
													<span class="input-group-btn">
														<button type="button" class="btn btn-info btn-flat clear_all_news_time_button">
															{:__('Open')}
														</button>
													</span>
												</div>
											</div>
										</div>



									</div>
									<div class="row">
										<div class="col-md-12  col-sm-12 col-md-12">
											<div class="form-group">
												<label>
													{:__('Members still can send messages')}:
												</label>
												<div class="">
													<ul class="sp_element_box list-inline">


														{if isset($result['clear_all_news_white'])}
															{volist name="result['clear_all_news_white']" id="vo"  }
																<li class="selected_tag" itemvalue="{$vo}">
																	{$vo}
																	<span class="tag_close">
																		<i class="spfont sp-close clear_all_news_white_del">
																		</i>
																	</span>
																</li>
															{/volist}
														{/if}
													</ul>
												</div>
												<div class="">
													<div class="input-group input-group-sm">
														<input type="text" class="form-control">
														<span class="input-group-btn">
															<button type="button" class="btn btn-info btn-flat clear_all_news_white_button">
																{:__('Add')}
															</button>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12  col-sm-12 col-md-12">
											<div class="form-group">
												<label>
													{:__('Members still can send include messages')}:
												</label>
												<div class="">
													<ul class="sp_element_box list-inline">
														{if isset($result['clear_all_news_reg_white'])}
															{volist name="result['clear_all_news_reg_white']" id="vo"  }
																<li class="selected_tag" itemvalue="{$vo}">
																	{$vo}
																	<span class="tag_close">
																		<i class="spfont sp-close clear_all_news_reg_white_del">
																		</i>
																	</span>
																</li>
															{/volist}
														{/if}
													</ul>
												</div>
												<div class="">
													<div class="input-group input-group-sm">
														<input type="text" class="form-control">
														<span class="input-group-btn">
															<button type="button" class="btn btn-info btn-flat clear_all_news_reg_white_button">
																{:__('Add')}
															</button>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
				<!-- /.tab-pane -->
			</div>
			<!-- /.tab-content -->
		</div>
		<!-- /.nav-tabs-custom -->
	</div>
	<!-- /.col -->
</div>
<script>
    var getrow = {:json_encode($getrow)};
</script>

<script id="keyword_cmd_add_tpl" type="text/html">
	<div class="col-md-12  col-sm-12 col-md-12">
		<blockquote>
			<div class="form-group">
				<label>
					{:__('When the message is received, these key words are included')}:
				</label>
				<div class="">
					<ul class="sp_element_box list-inline">

					</ul>
				</div>
				<div class="">
					<div class="input-group input-group-sm">
						<input type="text" class="form-control">
						<span class="input-group-btn">
							<button type="button" class="btn btn-info btn-flat keyword_cmd_add_list_keword_add">
								{:__('Add')}
							</button>
						</span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>{:__('Matching mode')} :</label>
				<select class="form-control">
					<option value="1">{:__('Include these keywords')}</option>
					<option value="2">{:__('Equal to these keywords')}</option>
				</select>
			</div>

			<div class="form-group">
				<label>{:__('Status')} :</label>
				<select class="form-control">
					<option value="1">{:__('open')}</option>
					<option value="0">{:__('close')}</option>
				</select>
			</div>


			<div class="form-group">
			  <label>{:__('Bot will reply')} </label>
			  <textarea class="form-control" rows="3" placeholder="{:__('Enter ...')}"></textarea>
			</div>

			<div class="form-group">
				<button type="button" class="btn btn-info btn-flat keyword_cmd_add_list_save" style="width:100%">
					{:__('Save')}
				</button>
			</div>
		</blockquote>
	</div>
</script>



<script id="keyword_cmd_add_list_keword_add_tpl" type="text/html">
		<li class="selected_tag" itemvalue="<%=tag%>">
			<%=tag%>
			<span class="tag_close">
				<i class="spfont sp-close keyword_cmd_add_list_keword_del">
				</i>
			</span>
		</li>
</script>
