
<div class="m_footer" style="background:#040d17;height:17.15rem;font-size:0.8rem;color:#ffffff;">
    <div style="text-align:center;padding-top:2.1rem;">
        <a target="_blank" href="https://t.me/joinchat/HK3ALkN6xyfYqLCVsGTYPw"><img src="__CDN__/home/images/footerflay.png" style="width:1rem;margin-right:1.2rem;"
        /></a>
        <a target="_blank" href="https://twitter.com/IamTokenMan"><img src="__CDN__/home/images/footertwt.png" style="width:1rem;margin-right:1.2rem;"
        /></a>
        <a target="_blank" href="https://www.facebook.com/settings?tab=account&section=username"><img src="__CDN__/home/images/footerfb.png" style="width:0.5rem;margin-right:1.2rem;"
        /></a>
        <a target="_blank" href="__CDN__/home/images/1531303879159.jpg"><img src="__CDN__/home/images/footerwx.png" style="width:1.1rem;" /></a>

    </div>
    <div class="text-center" style="padding-top: 2.1rem;">
        <span>
            <img src="__CDN__/home/images/footermail.png" style="height:0.6rem;display: inline-block;margin-bottom: 0.2rem;margin-right:0.1rem;"
            />
            E-mail:business@if1989.com
        </span>
        <br class="footer_br" />
        <span style="padding-left:2rem;">
            <img src="__CDN__/home/images/footeradd.png" style="height:0.8rem;display: inline-block;margin-bottom: 0.2rem;margin-right:0.3rem;"
            />
            {:__('Add：Urwork，Floors，NO.C3,JiuxianqiaoRoad，Chaoyang District,Beijing')}
        </span>
    </div>
    <div class="text-center privssrvice" style="padding-top: 1.2rem;">
        <a style="margin-right:1rem;" target="_blank" href="{:url('service/privacy')}">
            @{:__('Privacy Policy')}
        </a>
        <a style="margin-right:1rem;" target="_blank" href="{:url('service/intellectual')}">
            @{:__('Intellectual Property Rights Policy')}
        </a>
        <a style="margin-right:1rem;" target="_blank" href="{:url('service/tems')}">
            @{:__('Tems Of Service')}
        </a>
    </div>
    <div class="text-center" style="padding-top: 2rem;color:">
        <a style="margin-right:1rem;" href="{:url('/index')}">
            {:__('Home')}
        </a>
        |
        <a style="margin:0 1rem;" href="{:url('product/index')}">
            {:__('Product')}
        </a>
        |
        <a style="margin-left:1rem" href="{:url('contactus/index')}">
            {:__('Contact Us')}
        </a>
    </div>
</div>
