<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>
			TokenMan
		</title>
		<!-- Bootstrap Core CSS -->
		<!-- <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
		<!-- <link href="__CDN__/assets/css/index.css" rel="stylesheet"> -->
		<!-- Plugin CSS -->
		<!-- <link href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"
		rel="stylesheet">
		<link href="//cdn.bootcss.com/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="__CDN__/home/base.css?version=1.010">
		<link rel="stylesheet" href="__CDN__/home/all.css?version=1.010">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media
		queries -->
		<!--[if lt IE 9]>
			<script src="//cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js">
			</script>
			<script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js">
			</script>
		<![endif]-->
	</head>
	<body>
		<div class="container-fluid" style="padding:0;">
			<header class="header">
				<div class="row justify-content-between">
					<div class="col-2" style="padding-left:0;">
						<a class="header_logo">
						</a>
					</div>
					<div class="col-2 col-sm-9">
						<ul class="nav justify-content-end max_menu_div">

							<li class="nav-item">
								<a class="nav-link {:$config['controllername']=='index'?'active':''}" href="{:url('/index')}">
									{:__('Home')}
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link {:$config['controllername']=='product'?'active':''}" href="{:url('product/index')}">
									{:__('Product')}
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link {:$config['controllername']=='contactus'?'active':''}" href="{:url('contactus/index')}">
									{:__('Contact Us')}
								</a>
							</li>

							<!-- <li class="nav-item">
								<a class="nav-link" href="http://m.name-technology.fun:8020/admin">
									{:__('Customer')}
								</a>
							</li> -->



							{if $user}
								<li class="nav-item">
									<a class="nav-link" href="{:url('user/profile')}">

										{:__('UserInfo')}
									</a>
								</li>
								<li class="nav-item">
								   <a class="nav-link" href="{:url('/admin')}">
									   {:__('Customer')}
								   </a>
							   </li>

							{else/}
								<li class="nav-item">
									<a class="nav-link" href="{:url('user/login')}">
										<img src="__CDN__/home/images/header_icon_login.png" style="width:1rem;margin-right:0.5rem;">
										{:__('Login')}
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="{:url('user/register')}">
										<img src="__CDN__/home/images/header_icon_login.png" style="width:1rem;margin-right:0.5rem;">

										{:__('Register')}
									</a>
								</li>
							{/if}



							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {if condition="isset($_COOKIE['think_var']) && $_COOKIE['think_var'] eq 'en'"}
                                        English
                                    {else/}
                                        中文(简体)
                                    {/if}
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="./&lang=zh-cn">
										<span class="lang_zh">
										</span>
										中文(简体)
									</a>
									<a class="dropdown-item" href="./&lang=en">
										<span class="lang_en">
										</span>
										English
									</a>
									<div class="dropdown-divider">
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="dropdown min_menu_div">
					<a class="nav-link dropdown-toggle" style="text-align:right;" href="#"
					id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false">
						Menu
					</a>
					<div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown2">
						<a class="dropdown-item active" href="{:url('/index')}">
							{:__('Home')}
							<span style="float:right;">
								&gt;
							</span>
						</a>
						<div class="dropdown-divider">
						</div>
						<a class="dropdown-item" href="{:url('product/index')}">
							{:__('Product')}
							<span style="float:right;">
								&gt;
							</span>
						</a>
						<div class="dropdown-divider">
						</div>
						<a class="dropdown-item" href="{:url('contactus/index')}">
							{:__('Contact Us')}
							<span style="float:right;">
								&gt;
							</span>
						</a>
						<div class="dropdown-divider">
						</div>
						<!-- <a class="dropdown-item" href="{:url('user/login')}">
							{:__('Login')} / {:__('Register')}
							<span style="float:right;">
								&gt;
							</span>
						</a>
						<div class="dropdown-divider">
						</div> -->
						<a class="dropdown-item" href="./&lang=en">
							English
						</a>
                        <a class="dropdown-item" href="./&lang=zh-cn">
							中文(简体)
						</a>

					</div>
				</div>
			</header>

        <main class="content">
            {__CONTENT__}
        </main>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous">
</script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous">
</script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous">
</script> -->
